<!DOCTYPE html>
<html>
<head>
    <title>Suricat</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-resource.js"></script>
    <script src="scripts/resources/RESTConnexion.js"></script>
    <script src="scripts/controllers/angularEngine.js"></script>
    <link href="styles/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/CSS/CSSLoginStyle.css">
</head>
<body ng-app="Suricat" ng-controller="Chat">
    <div class="container">
        <div class="card card-container">
            <div ng-repeat="message in messages"> {{ message.idUser}} : {{ message.message}} </div>
        </div>
        <form>
            <input type="text" ng-model="mess">
            <button type="submit" ng-click="send()">Envoyer</button>
        </form>
    </div>
</body>
</html>