
<!-- SELECT TEAM -->
    <div ng-controller="Teams">
        <div ng-controller="TeamActualities">
            <div class="card card-container">Veuillez sélectionner une équipe  
                <select ng-options="team.teamName for team in listOfTeams" ng-model="selected"></select>
            </div>

    <!-- ACTUALITY FORM -->
            <div class="card card-container">
                <H4>Formulaire de saisie d'actualité équipe</H4>
                <label>Titre :</label>
                <input class="form-control" id="TitleEquipeTextarea" rows="1" ng-model="newActu.title"></input><br>
                <label>Contenu d'actualité</label>
                <textarea class="form-control" id="ActuEquipeTextarea" rows="3" ng-model="newActu.publication"></textarea><br>

     <!-- Bower - bower install angular-base64-upload-->
                <button id="formbutton" type="submit" class="btn btn-primary" ng-click="postTeamActu(selected)">Publier cette actualité</button>
            </div>

    <!-- DISPLAY TEAM ACTUALITIES -->
            {{message}} 
            <div class="card card-container" ng-repeat="actu in listOfTeamActualities | filter: {idTeam:selected.idTeam}">            
                        <div class="contain_title">     <H4>{{actu.title}}    </H4></div>
                        <div class="contain_date">      {{actu.dateActuality}}  </div><br><br>
                        <div class="contain_content">   {{actu.publication}}    </div><br>
                        <div class="contain_content">   id team : {{actu.idTeam}}  </div>           
            </div>
        </div>
     </div>       