<div ng-controller="passwordCtrl" class="container">
    <h1>Gestion des profils</h1>
    <div class="row" ng-controller="choiceOfInsideAdminUsers">
        <div id="choice" class="col-lg-3">
            <h1>Sélection</h1>
            <select class="form-control" id="ControlService" ng-model="selected" ng-options="department.departmentName for department in departments">
            </select>
            <input class="form-control" type="text" ng-model="search">
            <button class="btn btn-success form-control" ng-model="addAMember" ng-click="modifyPageInsideAdminUsers('createUser')">
                AJOUTER UN MEMBRE
            </button>
            <button ng-hide="addAMember" ng-click="showInformations(user)" class="showUser form-control" ng-repeat="user in users | filter : {idDepartment:selected.idDepartment} | filter : search">
                {{user.email}} - {{user.firstname}} {{user.lastname}}
            </button>
        </div>

        <div id="preview" class="col-lg-9">
            <div ng-switch on="insideAdminUser">
                <div ng-switch-when="createUser">
                    <ng-include src="'views/createUser.html'"></ng-include>
                </div>
                <div ng-switch-when="updateUser">
                    <ng-include src="'views/adminUpdateUser.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>