
<div ng-controller="userAdminModifications">

    <form name="myAdminFormUpdateUser" class="row" id="createUserAdminForm" ng-submit="myAdminFormUpdateUser.$valid && showConfirmation($event)" ng-class="{'has-error' : myAdminFormUpdateUser.email.$error.maxlength || myAdminFormUpdateUser.password.$error.maxlength || myAdminFormUpdateUser.password.$error.minlength  || myAdminFormUpdateUser.lastName.$error.minlength  || myAdminFormUpdateUser.lastName.$error.maxlength  || myAdminFormUpdateUser.firstName.$error.maxlength   || myAdminFormUpdateUser.firstName.$error.minlength || myAdminFormUpdateUser.adress.$error.maxlength || myAdminFormUpdateUser.city.$error.maxlength}">
        <h3 class="text-center">Modification du profil</h3>

        <div class="col-md-offset-1 col-md-5 containerUpdateUser" id="leftWindow">
            <div class="form-group">
                <label for="email">Login (adresse interne)</label>
                <input name="email" ng-maxlength="50" type="email" class="form-control" ng-model="infosUser.email" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                <span ng-show="myAdminFormUpdateUser.email.$error.maxlength"><small>Email trop long 50 caractères maximum</small></span>
            </div>

            <div class="form-group">
                <label for="pw1">Mot de passe</label>
                <input name="password" ng-minlength="4" ng-maxlength="20" type="password" class="form-control" id="pw1" ng-model="infosUser.password" placeholder="Entrez un mot de passe" required/>
                <span ng-show="myAdminFormUpdateUser.password.$error.maxlength"><small>Mot de passe trop long 20 caractères maximum</small></span>
                <span ng-show="myAdminFormUpdateUser.password.$error.minlength"><small>Mot de passe trop court 4 caractères maximum</small></span>
            </div>

<!-- <div class="form-group">
    <label for="pw2">Vérification du mot de passe</label>
    <input type="password" class="form-control" id="pw2" name="pw2" ng-model="pw2" pw-check="pw1" placeholder="Enter password" required/>
</div>

<div ng-show="showmsg" class="errorMessage">
    <span class="msg-error">Passwords don't match.</span>
</div> -->

            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status" ng-model="infosUser.status" ng-selected="infosUser.status" ng-options="status.st for status in listOfStatus">
                </select>
            </div>

            <div class="form-group">
                <label for="department">Service</label>
                <select class="form-control" id="department" ng-model="infosUser.idDepartment" ng-selected="infosUser.idDepartment" ng-options="department.departmentName for department in departments">
                </select>
            </div>
            
            <div class="form-group">
                <label for="CE">Membre du Comité d'entreprise</label>
                <input type="checkbox" id="CE" class="pull-right" ng-model="infosUser.CE">
            </div>

            <div class="form-group">
                <label for="VE">Membre du service Vie d'entreprise</label>
                <input type="checkbox" id="VE" class="pull-right" ng-model="infosUser.VE">
            </div>
            
            <div class="form-group text-center">
                <label for="active">Actif ?</label>
                <input type="checkbox" id="active" ng-model="infosUser.active">
            </div>
        </div>

        <div class="col-md-5 text-left containerUpdateUser">
            <div class="form-group">
                <label for="lastName">Nom</label>
                <input name="lastName" ng-minlength="2" ng-maxlength="30" type="text" class="form-control" id="lastName" ng-model="infosUser.lastname" aria-describedby="emailHelp" placeholder="Entrez le nom" required>
                                <span ng-show="myAdminFormUpdateUser.lastName.$error.maxlength"><small>Nom trop long 30 caractères maximum</small></span><br>
                <span ng-show="myAdminFormUpdateUser.lastName.$error.minlength"><small>Nom trop court 2 caractères maximum</small></span><br>
            </div>

            <div class="form-group">
                <label for="firstName">Prénom</label>
                <input name="firstName" ng-minlength="2" ng-maxlength="30" type="text" class="form-control" id="firstName" ng-model="infosUser.firstname" placeholder="Entrez le prénom" required/>
                <span ng-show="myAdminFormUpdateUser.firstName.$error.maxlength"><small>Prénom trop long 30 caractères maximum</small></span><br>
                <span ng-show="myAdminFormUpdateUser.firstName.$error.minlength"><small>Prénom trop court 2 caractères maximum</small></span><br>
            </div>

            <div class="form-group">
                <label for="adress">Adresse</label>
                <input name="adress" ng-maxlength="100" type="text" class="form-control" id="address" ng-model="infosUser.address" placeholder="Entrez l'addresse" required/>
                <span ng-show="myAdminFormUpdateUser.adress.$error.maxlength"><small>Adresse trop longue 100 caractères maximum</small></span><br>
            </div>

            <div class="form-group">
                <label for="city">Ville</label>
                <input name="city" ng-maxlength="100" type="text" class="form-control" id="city" ng-model="infosUser.city" placeholder="Enter City" required/>
                <span ng-show="myAdminFormUpdateUser.city.$error.maxlength"><small>Nom de ville trop long 100 caractères maximum</small></span><br>
            </div>

            <div class="form-group">
                <label for="car">Avez vous voiture?</label>
                <input type="checkbox" class="pull-right" id="car" ng-model="infosUser.car">
            </div>

            <div class="form-group">
                <label for="carsharing">Etes-vous ouvert au covoiturage ?</label>
                <input type="checkbox"  class="pull-right" id="carsharing" ng-model="infosUser.carsharing">
            </div>


        </div>
   
    <div class="row" id="buttonUpdateUser">

        <!--
        <div class="col-xs-4 col-md-4 text-center">
            <button type="submit" class="btn btn-danger myButton" ng-click="reset()">Annuler</button>
        </div>
        -->

        <div class="col-xs-4 col-md-4 text-center">
            <button type="submit" class="btn btn-primary myButton" ng-show="myAdminFormUpdateUser.$valid && selected">Valider modifications</button>
        </div>

    </div>

 </form>

</div>