<div ng-controller="chat" class="container">
    <div id="titleChat"><h1>Chat</h1></div>
    <div class="row" ng-controller="choiceOfInsideAdminUsers">

        <div id="choice" class="col-sm-3">
            <h1>Liste de contacts</h1>
            <select class="form-control" id="ControlService" ng-model="selectedDepartment" ng-options="department.departmentName for department in departments">
                <option></option>
            </select>
            <input class="form-control" type="text" ng-model="search" placeholder="Filtrer par saisie (2 lettres min)"><br>
            <button ng-click="showMessages(user)" class="row showUser form-control regulMargin" ng-repeat="user in users | filter : {idDepartment : selectedDepartment.idDepartment} | filter : search" ng-if="user.idUser != idSender">
            
                    <div class="col-md-1 numberOfNotifications regulMargin">
                        {{($parent.messages | filter : {id1 : $parent.idSender, id2 : user.idUser, readStatus : 0}).length}}
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs regulMargin">
                        {{user.firstname}}
                    </div>
                    <div class="col-md-7 col-sm-11 col-xs-11 regulMargin">
                        {{user.lastname}}
                    </div>
 
            </button>
        </div>

        <div id="preview" class="col-sm-offset-1 col-sm-8" ng-show="receiver!=''">

            <h1>Conversation avec {{receiver}}</h1>
            <form id="formMessage">
                Message : 
                <textarea id="textareaChat" class="form-control" type="text" ng-model="send.message" maxlength="250"></textarea>
                <br>
                <button class="form-control btn btn-primary" ng-click="saveMessage()">Envoyer</button>
            </form>
            <br>

            <div ng-repeat="message in $parent.messages" ng-class="{'row' : (message.id1 == idSender && message.id2 == idReceiver) || (message.id1 == idReceiver && message.id2 == idSender)}">
                <div ng-class="{'spacing' : (message.id2 == idSender && message.id1 == idReceiver) || (message.id2 == idReceiver && message.id1 == idSender)}">
                    <div ng-if="message.id1 == idReceiver && message.id2 == idSender" class="basicClassMessage sender col-lg-offset-1 col-lg-11">
                        <div class="authorMessage2">- {{message.f2}}-</div><br>
                        {{message.message}}
                         <div class="authorMessage2">- {{message.dateMessage | date:'MM/dd/yyyy @ h:mma'}}-</div><br>
                    </div>
                    <div ng-if="message.id1 == idSender && message.id2 == idReceiver" class="basicClassMessage receiver col-lg-11">
                        <div class="authorMessage1">- {{message.f2}}-</div><br>
                        {{message.message}}
                        <div class="authorMessage1">- {{message.dateMessage | date:'MM/dd/yyyy @ h:mma'}}-</div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>