<div ng-controller="chat" class="container">
    <div id="titleChat"><h1>Chat</h1></div>
    <div class="row" ng-controller="choiceOfInsideAdminUsers">

        <div id="choice" class="col-sm-3">
            <h1>Liste de contacts</h1>
            <select class="form-control" id="ControlService" ng-model="selectedDepartment" ng-options="department.departmentName for department in departments">
                <option></option>
            </select>
            <input class="form-control" type="text" ng-model="search" placeholder="Filtrer par saisie (2 lettres min)"><br>
            <button ng-click="showMessages(user)" class="row showUser form-control regulMargin" ng-repeat="user in users | filter : {idDepartment : selectedDepartment.idDepartment} | filter : search" ng-if="user.idUser != idSender">
            
                    <div class="col-md-1 numberOfNotifications regulMargin">
                        {{(messages | filter : {idUser_Users : idSender, idUser : user.idUser, readStatus : 0}).length}}
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs regulMargin">
                        {{user.firstname}}
                     </div>
                    <div class="col-md-7 col-sm-11 col-xs-11 regulMargin">
                        {{user.lastname}}
                    </div>
 
            </button>
        </div>

        <div id="preview" class="col-sm-offset-1 col-sm-8" ng-show="receiver!=''">

            <h1>Conversation avec {{receiver}}</h1>
            <form id="formMessage">
                Message : 
                <input class="form-control" type="text" ng-model="send.message">
                <br>
                <button class="form-control btn btn-primary" ng-click="saveMessage()">Envoyer</button>
            </form>
            <br>

            <div ng-repeat="message in messages" ng-class="{'row' : (message.idUser_Users == idSender && message.idUser == idReceiver) || (message.idUser_Users == idReceiver && message.idUser == idSender)}">
                <div ng-class="{'col-lg-12 spacing' : (message.idUser_Users == idSender && message.idUser == idReceiver) || (message.idUser_Users == idReceiver && message.idUser == idSender)}">
                    <div ng-if="message.idUser_Users == idSender && message.idUser == idReceiver" class="basicClassMessage receiver">
                        {{message.message}}
                    </div>
                    <div ng-if="message.idUser_Users == idReceiver && message.idUser == idSender" class="basicClassMessage sender">
                        {{message.message}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>