<div ng-controller="CorporateActualities">
	
        <div>
    		<!-- ACTUALITY FORM -->      
            <div id="containerTeamActualityForm" class=" containerTeamActuality">

                <H4 class="formTitle">actualité d'entreprise</H4>

                <div class="formIntern">
                    <label class="titleLabel">Titre</label>
                    <input class="form-control" id="TitleEquipeTextarea" rows="1" ng-model="newActu.title"></input><br>

                    <label class="titleLabel">Contenu d'actualité</label>
                    <textarea class="form-control" id="ActuEquipeTextarea" rows="3" ng-model="newActu.publication"></textarea><br>

     
                    <button id="formbutton" type="submit" class="btn btn-primary" ng-click="postTeamActu()">Publier cette actualité</button>
                </div>
            </div>

    		<!-- DISPLAY CORPORATE ACTUALITIES -->
    	        
            <div ng-controller="refresh" class="container">
            <center>{{message}}</center> 
            
                <div id="containerTeamActualityList" class="containerTeamActuality row" ng-repeat="actu in listOfCorpActualities">   
                    <div class="col-xs-12" id="dd">

                        <div id="contain_title" class="col-xs-6">
                            <H4 class="actuTitle"><span id="glyph"></span> {{actu.title}}</H4>             
                        </div>

                        <div id="contain_date" class="col-xs-6">
                            {{actu.dateActuality}}
                        </div>
                    </div>


                    <div class="contain_content col-xs-12">   {{actu.publication}}  
                    </div><br>

                    <i class="pull-right">{{actu.lastname}} {{actu.firstname}}</i>
                </div>
            </div>
        </div>
</div>