
		<!-- Form to modify team informations -->
		<div class="container-fluid" ng-controller="createTeam">
			<div row class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12">
				<form id="formTeam">
					<h1 id="teamTitle">Création d'une équipe</h1>

					<label class="labelFormTeam" for="teamName">Nom de l'équipe</label>
					<input id="teamName" type="text" ng-model="team.teamName" class="form-control" ng-change="testChanges()"/>

					<label class="labelFormTeam" for="projectName">Nom du projet</label>
					<input  id="projectName" type="text" ng-model="team.projectName" class="form-control" ng-change="testChanges()"/>

					<label class="labelFormTeam" for="projectDescription">Description du projet</label>
					<textarea  id="projectDescription" ng-model="team.projectDescription" class="form-control" ng-change="testChanges()"></textarea>
					
					<div class="row">
						<button class="btnChangeForm btn btn-danger col-lg-offset-1 col-lg-5" ng-click="modifyPageInside('team')">Retour</button>
						<button class="btnChangeForm btn btn-success col-lg-5" ng-hide="!displayBtnCreate" ng-click="createTheTeam()">Créer l'équipe</button>
					</div>
				</form>
			</div>

		</div>