<div ng-hide="choiceOfTeam.idTeam" class="text-center">
    En attente de sélection
</div>
<div ng-controller="Kanban" ng-hide="!choiceOfTeam.idTeam">
    <div class="container-fluid" id="containerKanban">
        <div id="options" class="row">
            <button type="button" class="btn btn-primary buttonKanban col-lg-offset-8 col-lg-2" data-toggle="modal" data-target="#myModal">Modifier une tâche</button>
            <button type="button" class="btn btn-primary buttonKanban col-lg-2"                 data-toggle="modal" data-target="#createModal">Ajouter une tâche</button>
        </div>
    </div>

    <br>
    <div class="row" id="rowKanban">
    <div class="frame col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="text-center status">
            <div class="titre">
                To Do
            </div>
            <div id="ToDo" class="task" ng-repeat="task in tasksOfTheTeam | filter: {status: 'To Do', idTeam: choiceOfTeam.idTeam}" data-toggle="modal" data-target="#modifyModal">
                {{task.taskName}}
            </div>
        </div>
    </div>
    <div class="frame col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="text-center status">
            <div class="titre">
                In Progress
            </div>
            <div id="InProgress" class="task" data-toggle="modal" data-target="#myModal" ng-repeat="task in tasksOfTheTeam | filter: {status: 'In Progress', idTeam: choiceOfTeam.idTeam}">
                {{task.taskName}}
            </div>
        </div>
    </div>
    <div class="frame col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="text-center status">
            <div class="titre">
                To Verify
            </div>
            <div id="ToVerify" class="task" data-toggle="modal" data-target="#myModal" ng-repeat="task in tasksOfTheTeam | filter: {status: 'To Verify', idTeam: choiceOfTeam.idTeam}">
                {{task.taskName}}
            </div>
        </div>
    </div>
    <div class="frame col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="text-center status">
            <div class="titre">
                Done
            </div>
            <div id="Done" class="task" data-toggle="modal" data-target="#myModal" ng-repeat="task in tasksOfTheTeam | filter: {status: 'Done', idTeam: choiceOfTeam.idTeam}">
                {{task.taskName}}
            </div>
            </div>
        </div>
    </div>
</div>
    
    <ng-include src="'views/modalCreateTask.html'"></ng-include>
    <ng-include src="'views/modalModifyTask.html'"></ng-include>