<div ng-hide="choiceOfTeam.idTeam" class="text-center">
    En attente de sélection
</div>
<div ng-controller="Kanban" ng-hide="!choiceOfTeam.idTeam">
    
    <div class="container-fluid" id="containerKanban">
        <div id="options" class="row">
            <button type="button" class="btn btn-info buttonKanban col-xs-offset-3 col-xs-6 text-center" data-toggle="modal" data-target="#createModal" ng-show="access">Ajouter une tâche</button>
        </div>
    </div>

    <br>
    <div ng-controller="ModCtrl">
    <div class="row" id="rowKanban">
    <div class="frame col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="text-center status">
            <div class="titre">
                To Do
            </div>
            <div id="ToDo" class="task" ng-repeat="task in tasksOfTheTeam | filter: {status: 'To Do', idTeam: choiceOfTeam.idTeam}">
                <div ng-click="toggleModal(task)">{{task.taskName}}</div>
                <span id="glyph" ng-class="'fa fa-trash'" ng-click="deleteTask(task)" ng-show="access"></span>
            </div>
        </div>
        
    </div>
    <div class="frame col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="text-center status">
            <div class="titre">
                In Progress
            </div>
            <div id="InProgress" class="task" data-toggle="modal" data-target="#myModal" ng-repeat="task in tasksOfTheTeam | filter: {status: 'In Progress', idTeam: choiceOfTeam.idTeam}">
                <div ng-click="toggleModal(task)">{{task.taskName}}</div>
                <span id="glyph" ng-class="'fa fa-trash'" ng-click="deleteTask(task)" ng-show="access"></span>
            </div>
        </div>
    </div>
    <div class="frame col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="text-center status">
            <div class="titre">
                To Verify
            </div>
            <div id="ToVerify" class="task" data-toggle="modal" data-target="#myModal" ng-repeat="task in tasksOfTheTeam | filter: {status: 'To Verify', idTeam: choiceOfTeam.idTeam}">
                <div ng-click="toggleModal(task)">{{task.taskName}}</div>
                <span id="glyph" ng-class="'fa fa-trash'" ng-click="deleteTask(task)" ng-show="access"></span>
            </div>
        </div>
    </div>
    <div class="frame col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="text-center status">
            <div class="titre">
                Done
            </div>
            <div id="Done" class="task" data-toggle="modal" data-target="#myModal" ng-repeat="task in tasksOfTheTeam | filter: {status: 'Done', idTeam: choiceOfTeam.idTeam}">
                <div ng-click="toggleModal(task)">{{task.taskName}}</div>
                <span id="glyph" ng-class="'fa fa-trash'" ng-click="deleteTask(task)" ng-show="access"></span>
            </div>
            </div>
        </div>
    </div>
        
    <modal visible="showModal">
       <form>
                    <div class="form-group">
                        <label for="title" class="pull-left">Intitulé</label>
                        <input type="text" class="form-control" id="title" placeholder="Nom de la tâche" ng-model="task.taskName" id="title">
                    </div>

                    <div class="form-group">
                        <label for="description"  class="pull-left">Description</label>
                        <textarea type="text" ng-model="task.detail" class="form-control" id="description" placeholder="Nom de la tâche" style="resize:vertical"></textarea>
                    </div>
                    
                    <div class="form-group">
                        <label for="department" class="pull-left">Service</label>
                        <select class="form-control" id="department" ng-model="Department" ng-options="department.departmentName for department in departments">
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="user" class="pull-left">Attribution</label>
                        <select class="form-control" id="user" ng-model="user" ng-options="user.lastname for user in users | filter :{idTeam:selected.idTeam} | filter:{idDepartment:Department.idDepartment}" placeholder="user.lastname">
                            <option value="" disable selected>{{user.lastname}}</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="duration" class="pull-left">Durée</label>
                        <select class="form-control" id="duration" ng-model="task.duration"  ng-options="duration for duration in durations">
                            <option value="" disable selected>{{task.duration}}</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="weight" class="pull-left">Importance</label>
                        <select class="form-control" id="weight" ng-model="task.weight" ng-options="weight for weight in weights">
                            <option value="" disable selected>{{task.weight}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="state" class="pull-left">Etat</label>
                        <select class="form-control" id="state" ng-model="task.status" ng-options="state for state in states">
                            <option value="" disable selected>{{task.status}}</option>
                        </select>
                    </div>
                </form>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-right" ng-click="createTask()">Créer</button>
                    <button class="btn btn-danger pull-left">Annuler</button>
                </div>
    </modal>    
        
    </div>
    
</div>
    
    <ng-include src="'views/modalCreateTask.html'"></ng-include>
    