<div ng-controller="LeisureActualities">
    <div class="titleActualitiesPages"><h1>Fil d'actualités Loisir</h1></div>
    <div>
        <div>

            <div class="panel-group containerTeamActuality" id="containerTeamActualityForm">
                <div class="panel panel-default">
                    <div class="panel-heading formTitle">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">actualité de loisir</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                           <div class="formIntern">
                    <label class="titleLabel">Titre</label>
                    <input class="form-control" id="TitleEquipeTextarea" rows="1" ng-model="newActu.title"></input><br>

                    <label class="titleLabel">Contenu d'actualité</label>
                    <textarea class="form-control" id="ActuEquipeTextarea" rows="3" ng-model="newActu.publication"></textarea><br>

                    <label class="titleLabel">Categorie</label>
                    <select ng-model="newActu.category">
                        <option value="Cuisine">    Cuisine         </option>
                        <option value="Sport">      Sport           </option>
                        <option value="Covoiturage">Covoiturage     </option>
                        <option value="Services">   Services        </option>
                    </select><br><br>
                </div> 
                            
                            
                        </div>
                        <div class="panel-footer">
                            <button id="formbutton" type="submit" class="btn btn-primary" ng-click="postTeamActu()">Publier cette actualité</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DISPLAY LEISURE ACTUALITIES -->

            <div ng-controller="refresh" class="container">
                <center>{{message}}</center> 
                <div id="containerTeamActualityList" class="containerTeamActuality row" ng-repeat="actu in listOfLeisureActualities">   
                    <div class="col-xs-12" id={{actu.category}}>

                        <div id="contain_title" class="col-xs-6">
                            <H4 class="actuTitle"><span id="glyph" ng-class="{'fa fa-cutlery':actu.category === 'Cuisine','fa fa-futbol-o':actu.category === 'Sport','fa fa-car':actu.category === 'Covoiturage', 'fa fa-handshake-o':actu.category === 'Services'}"></span> {{actu.title}}</H4>
                        </div>

                        <div id="contain_date" class="col-xs-6">
                            {{actu.dateActuality}}
                        </div>
                    </div>

                    <div class="contain_content col-xs-12">
                        {{actu.publication}}
                        <span class="pull-right" ng-show="actu.idUser === idUser || status === 'Admin'"><span id="glyph" ng-class="'fa fa-trash'" ng-click="removeLeisureActuality(actu.idActuality)"></span></span>
                    </div><br>

                    <i class="pull-right">{{actu.lastname}} {{actu.firstname}}</i>
                </div>
            </div>
        </div>
    </div>       
</div>