<div ng-controller="LeisureActualities">
    <div class="titleActualitiesPages"><h1>Fil d'actualités Loisir</h1></div>
    <div>
        <div>
        
            <div ng-controller="toggleCtrl">
                <uib-accordion>
                    <div uib-accordion-group heading="formTitle" class="panel-default containerTeamActuality formTitle panel-color" is-open="status.open" id="containerTeamActualityForm">
                        <uib-accordion-heading heading="formTitle">
                            Formulaire de saisie d'actualité équipe<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </uib-accordion-heading>
                        <form name="myTeamActualityForm" ng-submit="myTeamActualityForm.$valid && postTeamActu(choiceOfTeam)" ng-class="{'has-error' : myTeamActualityForm.title.$error.maxlength}">
                            <label class="titleLabel">Titre</label>
                            <input name="title" ng-maxlength="50" placeholder="veuillez saisir ici le titre de votre actualité" class="form-control" id="TitleEquipeTextarea" rows="1" ng-model="newActu.title" placeholder="Entrez un titre" required></input>
                            <span ng-show="myTeamActualityForm.title.$error.maxlength">Titre trop long 50 caractères maximum</span><br>
                            <label class="titleLabel">Contenu d'actualité</label>
                            <textarea ng-maxlength="2000" placeholder="veuillez saisir ici le contenu de votre actualité" class="form-control" id="ActuEquipeTextarea" rows="3" ng-model="newActu.publication" required></textarea><br>
                            <label class="titleLabel">Categorie : </label>
                            <select ng-model="newActu.category" placeholder="veuillez selectionnez une catégorie" required>
                                <option value="" disabled selected>selectionnez une catégorie</option>
                                <option value="Cuisine">    Cuisine         </option>
                                <option value="Sport">      Sport           </option>
                                <option value="Covoiturage">Covoiturage     </option>
                                <option value="Services">   Services        </option>
                            </select><br><br>
                            <button id="formbutton" type="submit" class="btn btn-primary" ng-show="newActu.category">Publier cette actualité</button>
                        </form>
                    </div>
                </uib-accordion>
            </div>
        
            <!-- DISPLAY LEISURE ACTUALITIES -->

            <div ng-controller="refresh">
                <center>{{message}}</center> 
                <div id="containerTeamActualityList" class="containerTeamActuality row" ng-repeat="actu in listOfLeisureActualities">   
                    <div class="col-xs-12" id={{actu.category}}>

                        <div id="contain_title" class="col-xs-6">
                            <H5 class="actuTitle"><span id="glyph" ng-class="{'fa fa-cutlery':actu.category === 'Cuisine','fa fa-futbol-o':actu.category === 'Sport','fa fa-car':actu.category === 'Covoiturage', 'fa fa-handshake-o':actu.category === 'Services'}"></span> {{actu.title}}</H5>
                        </div>

                        <div id="contain_date" class="col-xs-6">
                            {{actu.dateActuality}}
                        </div>
                    </div>

                    <div class="contain_content col-xs-12">
                        {{actu.publication}}
                        <span class="pull-right" ng-show="actu.idUser === idUser || status === 'Admin'"><span id="glyph" ng-class="'fa fa-trash'" ng-click="removeLeisureActuality(actu.idActuality)"></span></span>
                    </div><br>

                    <i class="pull-right">{{actu.lastname}} {{actu.firstname}}</i>
                </div>
            </div>
        </div>
    </div>       
</div>