  <div  ng-controller="choiceOfInside">
        <!--Navbar-->
        <div class="row demo-row">
          <div class="col-xs-12">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                  <span class="sr-only text-left">Toggle navigation</span>
                </button>
                <a href="#" class="navbar-left"><img src="images/MeerkatsEstampe.png" style="width:50px"></a>
                <a class="navbar-brand" href="#" ng-click="showTrademark($event)">Suricat</a>
              </div>
              <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav animated bounceInDown">
                  <li><a ng-click="modifyPageInside('team')">          EQUIPE          </a></li>
                  <li><a ng-click="modifyPageInside('corporatelife')"> VIE ENTREPRISE  </a></li>
                  <li><a ng-click="modifyPageInside('workscouncil')">  CE              </a></li>
                  <li><a ng-click="modifyPageInside('leisure')">       LOISIR          </a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">PARAMETRES<b class="caret"></b></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu" class="animated fadeInRight">
                      <li><a ng-click="modifyPageInside('updateUser')"> Modification de votre profil </a></li>
                      <li><a ng-click="modifyPageInside('adminPageUsers')" ng-show="status == 'Admin'"> Gestion des profils (admin)   </a></li>
                      <li><a ng-click="modifyPageInside('teamManagement')" ng-show="status == 'Chef de projet' || status == 'Admin'"> Gestion équipe</a></li>
                      <li><a ng-click="showConfirm($event)"> Déconnexion </a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </nav><!-- /navbar -->
          </div>
        </div> <!-- /row -->
      
      <br><br><br>
      <button id="backChatIcon" ng-click="modifyPageInside('chat')" ng-controller="chatNotifications">
        <i class="fa fa-envelope-open-o fa-2x" aria-hidden="true"></i>
      </button>
      <br>
      <div ng-switch on="inside">
          <div ng-switch-when="team">           <ng-include src="'views/team.html'">          </ng-include></div>
          <div ng-switch-when="corporatelife">  <ng-include src="'views/corporatelife.html'"> </ng-include></div>
          <div ng-switch-when="workscouncil">   <ng-include src="'views/workscouncil.html'">  </ng-include></div>
          <div ng-switch-when="leisure">        <ng-include src="'views/leisure.html'">       </ng-include></div>
          <div ng-switch-when="adminPageUsers"> <ng-include src="'views/adminPageUsers.html'"></ng-include></div>
          <div ng-switch-when="updateUser">     <ng-include src="'views/updateUser.html'">    </ng-include></div>
          <div ng-switch-when="teamManagement"> <ng-include src="'views/teamManagement.html'"></ng-include></div>
          <div ng-switch-when="chat">           <ng-include src="'views/chatPage.html'">      </ng-include></div>
      </div>
</div> 