
<div ng-controller="userSelfModifications">

    <form name="updateUserForm" novalidate class="row" id="createUserAdminForm" ng-submit="updateUserForm.$valid && showConfirmation($event) && recordModifications()" ng-class="{'has-error' : updateUserForm.email.$error.minlength ||  updateUserForm.email.$error.maxlength ||  updateUserForm.password.$error.maxlength || updateUserForm.password.$error.minlength}">
        <h3 class="text-center">Modification du profil</h3>

        <div class="col-md-offset-1 col-md-5 containerUpdateUser" id="leftWindow">
            <div class="form-group">
                <label for="email">Login (adresse interne)</label>
                <input name="email" ng-maxlength="50" type="email" class="form-control" ng-model="infosUser.email" id="email" aria-describedby="emailHelp" placeholder="Enter email" required ng-disabled="status != 'Admin'">
                <span ng-show="updateUserForm.email.$error.maxlength">Titre trop long 50 caractères maximum</span><br>
            </div>

            <div class="form-group">
                <label for="pw1">Mot de passe</label>
                <input name="password" ng-maxlength="20" ng-minlength="4" type="password" class="form-control" id="pw1" ng-model="infosUser.password" placeholder="Enter password" required/>
                <span ng-show="updateUserForm.password.$error.maxlength">Mot de passe trop long, 20 caractères maximum</span>
                <span ng-show="updateUserForm.password.$error.minlength">Mot de passe trop petit, 4 caractères maximum</span><br>
            </div>

<!--             <div class="form-group">
    <label for="pw2">Vérification du mot de passe</label>
    <input type="password" class="form-control" id="pw2" name="pw2" ng-model="pw2" pw-check="pw1" placeholder="Enter password" required/>
</div>

<div ng-show="showmsg" class="errorMessage">
    <span class="msg-error">Passwords don't match.</span>
</div> -->

            <div class="form-group">
                <label for="status">Statut</label>
                <select class="form-control" id="status" ng-model="infosUser.status" ng-options="status.st for status in listOfStatus" ng-disabled="status != 'Admin'">
                <option value="" disabled selected>selectionnez un statut</option>
                </select>
            </div>

            <div class="form-group">
                <label for="service">Service</label>
                <select class="form-control" id="service" ng-model="infosUser.idDepartment" ng-options="department.departmentName for department in departments" ng-disabled="status != 'Admin'">
                <option value="" disabled selected>selectionnez un service</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="CE">Membre du Comité d'entreprise</label>
                <input type="checkbox" id="CE" class="pull-right" ng-model="infosUser.workCouncilRepresentative" ng-disabled="status != 'Admin'">
            </div>

            <div class="form-group">
                <label for="VE">Membre du service Vie d'entreprise</label>
                <input type="checkbox" id="VE" class="pull-right" ng-model="infosUser.corporateLifeRepresentative" ng-disabled="status != 'Admin'">
            </div>
            
        </div>

        <div class="col-md-5 text-left containerUpdateUser">
            <div class="form-group">
                <label for="lastName">Nom</label>
                <input name="lastName" ng-maxlength="30" type="text" class="form-control" id="lastName" ng-model="infosUser.lastname" aria-describedby="emailHelp" placeholder="Enter lastname" required>
                <span ng-show="updateUserForm.lastName.$error.maxlength">Nom de famille trop long, 30 caractères maximum</span>
            </div>

            <div class="form-group">
                <label for="firstName">Prénom</label>
                <input name="firstName" ng-maxlength="30" type="text" class="form-control" id="firstName" ng-model="infosUser.firstname" placeholder="Enter firstname" required/>
                <span ng-show="updateUserForm.firstname.$error.maxlength">Prénom trop long, 30 caractères maximum</span>
            </div>

            <div class="form-group">
                <label for="adress">Adresse</label>
                <input name="adress" ng-maxlength="100" type="text" class="form-control" id="address" ng-model="infosUser.address" placeholder="Enter Address" required/>
                <span ng-show="updateUserForm.adress.$error.maxlength">Adresse trop longue, 100 caractères maximum</span>
            </div>

            <div class="form-group">
                <label for="city">Ville</label>
                <input name="city" ng-maxlength="100" type="text" class="form-control" id="city" ng-model="infosUser.city" placeholder="Enter City" required/>
                <span ng-show="updateUserForm.city.$error.maxlength">Nom de ville trop longue, 100 caractères maximum</span>
            </div>

            <div class="form-group">
                <label for="car">Avez vous une voiture?</label>
                <input type="checkbox" class="pull-right" id="car" ng-model="infosUser.car" ng-checked="infosUser.car">
            </div>

            <div class="form-group">
                <label for="carsharing">Etes-vous ouvert au covoiturage ?</label>
                <input type="checkbox"  class="pull-right" id="carsharing" ng-model="infosUser.carsharing" ng-checked="infosUser.carsharing">
            </div>

            <div class="form-group text-center">
                <label for="active">Actif ?</label>
                <input type="checkbox" id="active" ng-model="infosUser.active" ng-checked="infosUser.active" ng-disabled="status != 'Admin'">
            </div>
        </div>
    

    <div class="row" id="buttonUpdateUser">
    <!--
        <div class="col-xs-4 col-md-4 text-center">
            <button type="submit" class="btn btn-danger myButton" >Annuler</button>
        </div>
    -->
        <div class="col-xs-4 col-md-4 text-center">
            <button type="submit" class="btn btn-primary myButton" ng-show="updateUserForm.$valid">Valider modifications</button>
        </div>

    </div>
</form>
</div>