<div ng-controller="WorkCouncilActualities">
	<h1>Actualités Comité d'Entreprise</h1>

    <div>
        <div >

    		<!-- ACTUALITY FORM -->
            <div id="containerTeamActualityForm" class=" containerTeamActuality" ng-show="workCouncilRepresentative">

                <H4>Formulaire de saisie d'actualité de comité d'entreprise</H4>

                <label>Titre :</label>
                <input class="form-control" id="TitleEquipeTextarea" rows="1" ng-model="newActu.title"></input><br>
                <label>Contenu d'actualité</label>
                <textarea class="form-control" id="ActuEquipeTextarea" rows="3" ng-model="newActu.publication"></textarea><br>
                <button id="formbutton" type="submit" class="btn btn-primary" ng-click="postTeamActu()">Publier cette actualité</button>

            </div>

    		<!-- DISPLAY CORPORATE ACTUALITIES -->
    	        
            <div ng-controller="refresh">
            <center>{{message}}</center>  
                <div id="containerTeamActualityList" class="containerTeamActuality" ng-repeat="actu in listOfWorkCouncilActualities ">            
                            <div class="contain_title">     <H4>{{actu.title}}</H4>     </div>
                            <div class="contain_date">      {{actu.dateActuality}}      </div><br><br>
                            <div class="contain_content">   {{actu.publication}}        </div><br>
                            <i>Auteur : {{actu.lastname}} {{actu.firstname}}</i>
                </div>
            </div>
        </div>
     </div>       
</div>