<div ng-controller="WorkCouncilActualities">
    <div class="titleActualitiesPages"><h1>Fil d'actualités du Comité d'Entreprise</h1></div>
    <div>
        <div >

            <div ng-controller="toggleCtrl">
                <uib-accordion ng-show="$parent.workCouncilRepresentative || $parent.status == 'Admin'">
                    <div uib-accordion-group heading="formTitle" class="panel-default containerTeamActuality formTitle panel-color" is-open="status.open" id="containerTeamActualityForm">
                        <uib-accordion-heading heading="formTitle">
                        Ecrire une actualité du comité d'entreprise<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </uib-accordion-heading>
                        <form name="myworkCouncilRepresentativeForm" ng-submit="myworkCouncilRepresentativeForm.$valid && postTeamActu()" ng-class="{'has-error' : myworkCouncilRepresentativeForm.title.$error.maxlength}">
                            <label class="titleLabel">Titre</label>
                            <input name="title" ng-maxlength="50" placeholder="veuillez saisir ici le titre de votre actualité" class="form-control" id="TitleEquipeTextarea" rows="1" ng-model="newActu.title" required></input>
                            <span ng-show="myworkCouncilRepresentativeForm.title.$error.maxlength">Titre trop long 50 caractères maximum</span><br>
                            <label class="titleLabel">Contenu d'actualité</label><br>
                            <textarea ng-maxlength="2000" placeholder="veuillez saisir ici le contenu de votre actualité" class="form-control" id="ActuEquipeTextarea" rows="3" ng-model="newActu.publication" required></textarea><br>
                            <button id="formbutton" type="submit" class="btn btn-primary">Publier cette actualité</button>
                        </form>
                    </div>
                </uib-accordion>
            </div>
            <!-- DISPLAY CORPORATE ACTUALITIES -->

            <div ng-controller="refresh">
                <center>{{message}}</center>             
                <div id="containerTeamActualityList" class="containerTeamActuality row" ng-repeat="actu in listOfWorkCouncilActualities">   
                    <div class="col-xs-12" id="workCouncilTitle">

                        <div id="contain_title" class="col-xs-6">
                            <H5 class="actuTitle"><span id="glyph" class="fa fa-paper-plane-o"></span> {{actu.title}}</H5>             
                        </div>

                        <div id="contain_date" class="col-xs-6">
                            {{actu.dateActuality | date:'MM/dd/yyyy @ h:mma'}}
                        </div>
                    </div>

                    <div class="contain_content col-xs-12">   
                        {{actu.publication}}  
                        <span class="pull-right" ng-show="actu.idUser === idUser || status === 'Admin'"><span id="glyph" ng-class="'fa fa-trash'" ng-click="removeWorkCouncilActuality(actu.idActuality)"></span></span>
                    </div><br>

                    <i class="pull-right"> {{actu.lastname}} {{actu.firstname}}</i>
                </div>
            </div>
        </div>
    </div>       
</div>