#containerTeamActualityChoice {
    max-width: 800px;
    padding: 00px 00px;
}



#containerTeamActualityForm {
    max-width: 800px;
    padding: 00px 00px;
}

#containerTeamActualityList {
    max-width: 800px;
    padding: 00px 00px;
    margin: 0 auto 25px;
}

.formIntern{
    padding: 00px 10px;
}

#texte{
    width: 100px;
    height: 100px;
}

#ActuEquipeTextarea{
    
    max-width: 100%;
    max-height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

#formbutton {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.img-up{   width:250px;  }

/*
 * Card
 */
.containerTeamActuality {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 00px 25px 30px;
    margin: 0 auto 25px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#contain_title {
   padding-right: 5px;
   color: white;
}

.actuTitle {
    margin: 0px;
}

#contain_date{
   padding-right: 5px;
   text-align: right;
   color: white;
}

#glyph{
    size: 4px
}

.contain_content{

}

.formTitle {
    padding: 5px 0 5px 10px;
    background-color:#428bca;
    vertical-align: central;
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
    font-weight: 600;
    color: white;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

/*every category is recover with the help of the json actu.category*/

#Sport {
    background-color: #d35400;
    padding: 0px;
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
}

#Cuisine {
    background-color: #16a085;
    padding: 0px;
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
}

#Services {
    background-color: #663399;
    padding: 0px;
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
}

#Covoiturage {
    background-color: #22313F;
    padding: 0px;
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
}