#titleChat
{
	font-size: 40px;
	color: white;
}

form#formMessage
{
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.basicClassMessage
{
	border-radius: 10px;
	font-size: 30px;
	width: auto;
	position: relative;
	padding: 5px 5px 5px 5px;
}

.receiver
{
	background-color: #CD5C5C;
	text-align: left;
	float: left;
}

.sender
{
	background-color: #6495ED;
	text-align: right;
	float: right;
}

#btnUser,#ControlService,#inputUser{
    margin-bottom: 5px;
    border: 1px solid #333;
}

.spacing
{
	padding: 5px 5px 5px 5px;
}

.numberOfNotifications
{
	max-width: 100%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #da2e2e;
	color: white;
	float: left;
	margin-left: 10px;
	font-size: 30px;
}