#titleChat
{
	font-size: 40px;
	color: white;
}

form#formMessage
{
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.basicClassMessage
{
	border-radius: 10px;
	font-size: 20px;
	width: auto;
	position: relative;
	padding: 5px 5px 5px 5px;
	resize: both;
	word-break: break-all;
}

.receiver
{
	background-color: #CD5C5C;
	margin-left: 10px; 
	float: left;
}

.sender
{
	background-color: #6495ED;
	margin-right: 10px; 
	float: right;
}

#btnUser,#ControlService,#inputUser{
    margin-bottom: 5px;
    border: 1px solid #333;
}

.spacing
{
	padding: 5px 5px 5px 5px;
}

.numberOfNotifications
{
	color: white;
}

.regulMargin
{
	padding: 0px 0px 0px 0px;
}

button.row
{
	margin:0px;
}

#textareaChat
{
	resize: vertical;
}

div.authorMessage1
{
	float: left;
	font-size: 15px;
	font-style: italic;
	text-align: inter-word;
}

div.authorMessage2
{
	float: right;
	font-size: 15px;
	font-style: italic;
	text-align: inter-word;
}